In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/Edited_Stocks.csv')

In [ ]:
df

,Name,Last,High,Low,Chg,Chg_per,Volume,Time
0,ABC Gas Intl,15.97,15.97,15.97,0.00,0.00,0,28-Jun
1,APM Finvest,110.80,115.40,109.00,-1.05,-0.94,22450,09:59:55
2,Ace Engitech,16.94,16.94,16.94,0.80,4.96,100,09:23:43
3,Ace Integrated,33.15,33.15,33.15,0.00,0.00,0,28-Jun
4,Alfavision Overseas,149.50,149.65,149.50,0.20,0.13,3770,09:52:21
...,...,...,...,...,...,...,...,...
99,W.S. Industries India Ltd,13.10,13.10,13.10,0.00,0.00,0,27-Jun
100,W.S. Industries India Ltd,13.23,13.23,13.23,0.00,0.00,0,27-Jun
101,Welterman International,7.71,7.71,7.71,0.00,0.00,0,28-Jun
102,Yarn Syndicate,8.16,8.16,8.16,0.38,4.88,650,09:55:54
103,iStreet Network,3.90,3.90,3.71,0.00,0.00,0,27-Jun

In [ ]:
df.head()

,Name,Last,High,Low,Chg,Chg_per,Volume,Time
0,ABC Gas Intl,15.97,15.97,15.97,0.00,0.00,0,28-Jun
1,APM Finvest,110.80,115.40,109.00,-1.05,-0.94,22450,09:59:55
2,Ace Engitech,16.94,16.94,16.94,0.80,4.96,100,09:23:43
3,Ace Integrated,33.15,33.15,33.15,0.00,0.00,0,28-Jun
4,Alfavision Overseas,149.50,149.65,149.50,0.20,0.13,3770,09:52:21

In [ ]:
df.dtypes

Name        object
Last       float64
High       float64
Low        float64
Chg        float64
Chg_per    float64
Volume       int64
Time        object
dtype: object

In [ ]:
df.drop(df[df['High'] >= 100].index, inplace = True)

In [ ]:
df

,Name,Last,High,Low,Chg,Chg_per,Volume,Time
0,ABC Gas Intl,15.97,15.97,15.97,0.00,0.00,0,28-Jun
2,Ace Engitech,16.94,16.94,16.94,0.80,4.96,100,09:23:43
3,Ace Integrated,33.15,33.15,33.15,0.00,0.00,0,28-Jun
5,Ambar Protein Industries,52.80,52.80,52.80,2.50,4.97,20,09:26:50
8,Balgopal Commercial,16.20,16.20,16.20,0.00,0.00,0,27-Jun
...,...,...,...,...,...,...,...,...
99,W.S. Industries India Ltd,13.10,13.10,13.10,0.00,0.00,0,27-Jun
100,W.S. Industries India Ltd,13.23,13.23,13.23,0.00,0.00,0,27-Jun
101,Welterman International,7.71,7.71,7.71,0.00,0.00,0,28-Jun
102,Yarn Syndicate,8.16,8.16,8.16,0.38,4.88,650,09:55:54
103,iStreet Network,3.90,3.90,3.71,0.00,0.00,0,27-Jun

In [ ]:
df.dropna()

,Name,Last,High,Low,Chg,Chg_per,Volume,Time
0,ABC Gas Intl,15.97,15.97,15.97,0.00,0.00,0,28-Jun
2,Ace Engitech,16.94,16.94,16.94,0.80,4.96,100,09:23:43
3,Ace Integrated,33.15,33.15,33.15,0.00,0.00,0,28-Jun
5,Ambar Protein Industries,52.80,52.80,52.80,2.50,4.97,20,09:26:50
8,Balgopal Commercial,16.20,16.20,16.20,0.00,0.00,0,27-Jun
...,...,...,...,...,...,...,...,...
99,W.S. Industries India Ltd,13.10,13.10,13.10,0.00,0.00,0,27-Jun
100,W.S. Industries India Ltd,13.23,13.23,13.23,0.00,0.00,0,27-Jun
101,Welterman International,7.71,7.71,7.71,0.00,0.00,0,28-Jun
102,Yarn Syndicate,8.16,8.16,8.16,0.38,4.88,650,09:55:54
103,iStreet Network,3.90,3.90,3.71,0.00,0.00,0,27-Jun

In [ ]:
x= df.iloc[:,:-1].values

In [ ]:
x

array([['ABC Gas Intl', 15.97, 15.97, 15.97, 0.0, 0.0, 0],
       ['Ace Engitech', 16.94, 16.94, 16.94, 0.8, 4.96, 100],
       ['Ace Integrated', 33.15, 33.15, 33.15, 0.0, 0.0, 0],
       ['Ambar Protein Industries', 52.8, 52.8, 52.8, 2.5, 4.97, 20],
       ['Balgopal Commercial', 16.2, 16.2, 16.2, 0.0, 0.0, 0],
       ['Beekay Niryat', 45.55, 45.55, 45.55, 0.0, 0.0, 0],
       ['Bheema Cements', 98.2, 98.25, 98.2, 0.0, 0.0, 0],
       ['Blue Chip India Ltd', 0.49, 0.49, 0.49, 0.0, 0.0, 0],
       ['Capfin India Ltd', 9.01, 9.01, 9.01, 0.42, 4.89, 1],
       ['Chitradurga Spintex', 21.1, 21.1, 21.1, 0.0, 0.0, 0],
       ['DSJ Keep Learning', 1.9, 1.9, 1.9, 0.09, 4.97, 1500],
       ['Datasoft Application', 3.65, 3.65, 3.65, 0.0, 0.0, 0],
       ['Deccan Polypacks', 5.15, 5.15, 5.15, 0.0, 0.0, 0],
       ['Dhruva Capital Services', 9.59, 9.59, 9.59, 0.0, 0.0, 0],
       ['Diamond Power Infrastructure', 1.85, 1.85, 1.85, 0.0, 0.0, 0],
       ['Dynamic Portfolio Management & Services', 20.55, 20.55, 20.55,
        0.0, 0.0, 0],
       ['Esaar', 6.76, 6.76, 6.65, 0.0, 0.0, 0],
       ['GI Engineering Solutions Ltd', 5.6, 5.6, 5.6, 0.0, 0.0, 0],
       ['GI Engineering Solutions Ltd', 4.25, 4.25, 4.25, 0.0, 0.0, 0],
       ['Galactico', 39.2, 39.25, 38.8, 0.3, 0.77, 170230],
       ['Galada Finance', 18.0, 19.25, 18.0, 0.0, 0.0, 0],
       ['Globe International Carriers', 76.0, 76.35, 74.0, 0.0, 0.0, 0],
       ['Growington Ventures India', 40.0, 40.4, 39.9, 1.3, 3.36, 12500],
       ['Haria Apparels', 2.36, 2.36, 2.36, 0.11, 4.89, 150],
       ['High Street Filatex', 25.65, 25.65, 25.65, 0.0, 0.0, 0],
       ['I Power Solutions India', 5.68, 5.68, 5.68, 0.0, 0.0, 0],
       ['Imagicaaworld Entertainment Ltd', 19.24, 19.24, 18.1, 0.91,
        4.96, 1480000],
       ['Imagicaaworld Entertainment Ltd', 19.05, 19.05, 18.55, 0.9,
        4.96, 682590],
       ['Inceptum Enterprises', 9.78, 10.79, 9.78, 0.0, 0.0, 0],
       ['Indergiri Finance', 4.44, 4.44, 4.44, 0.0, 0.0, 0],
       ['Infronics Systems', 21.45, 21.45, 21.45, 0.0, 0.0, 0],
       ['Integra Garments Textiles', 2.62, 2.62, 2.62, 0.12, 4.8, 8000],
       ['Integra Garments Textiles', 2.4, 2.4, 2.4, 0.1, 4.35, 100],
       ['Interworld Digital', 0.42, 0.42, 0.42, 0.0, 0.0, 0],
       ['Jmd Ventures', 5.28, 5.28, 5.28, 0.1, 1.93, 100],
       ['KLK Electrical', 44.25, 44.25, 44.25, 2.1, 4.98, 100],
       ['Kumbhat Financial Services', 9.28, 9.28, 9.28, 0.0, 0.0, 0],
       ['Kush Industries', 5.21, 5.21, 4.73, 0.24, 4.83, 16900],
       ['Linaks Micro Electronics', 1.15, 1.15, 1.15, 0.0, 0.0, 0],
       ['Lorenzini Apparels', 25.9, 28.4, 25.9, 0.0, 0.0, 0],
       ['MRC Exim', 78.65, 78.65, 78.65, -1.8, -2.24, 2000],
       ['Mahan Ind', 0.52, 0.52, 0.52, 0.0, 0.0, 0],
       ['Manraj Housing Finance', 23.5, 23.5, 23.5, 0.0, 0.0, 0],
       ['Mehai Tech', 64.1, 64.45, 61.95, 5.35, 9.11, 250440],
       ['Mercury Metals', 3.47, 3.47, 3.47, 0.0, 0.0, 0],
       ['Mindpool Tech', 28.2, 28.2, 28.2, 0.0, 0.0, 0],
       ['Munoth Capital Market', 65.1, 65.1, 65.1, 0.0, 0.0, 0],
       ['NINtec Systems', 57.45, 57.45, 57.45, 2.7, 4.93, 3750],
       ['Precision Containeurs', 0.49, 0.49, 0.49, 0.0, 0.0, 0],
       ['R T Exports', 8.27, 8.27, 8.27, 0.0, 0.0, 0],
       ['Ramsons Projects', 28.0, 28.0, 27.95, 0.0, 0.0, 0],
       ['Regency Ceramics Ltd', 2.4, 2.4, 2.4, 0.0, 0.0, 0],
       ['Regency Ceramics Ltd', 3.5, 3.5, 3.5, 0.0, 0.0, 0],
       ['Response Informatics', 21.04, 21.04, 21.04, 1.0, 4.99, 830],
       ['SOM Distilleries Breweries', 75.25, 75.25, 70.2, 3.55, 4.95,
        209650],
       ['SOM Distilleries Breweries', 74.3, 75.15, 69.25, 2.5, 3.48,
        37980],
       ['SPS Intl', 17.0, 17.0, 17.0, 0.0, 0.0, 0],
       ['Sadhna Broadcast', 12.2, 12.2, 11.2, 0.0, 0.0, 0],
       ['Scandent Imaging Ltd', 50.3, 50.3, 50.2, 2.35, 4.9, 576640],
       ['Shraddha Prime Projects', 15.12, 15.12, 15.12, 0.0, 0.0, 0],
       ['Shri Gang Industries Allied', 33.0, 33.0, 33.0, 1.57, 5.0, 50],
       ['Solis Marketing', 0.58, 0.58, 0.58, 0.0, 0.0, 0],
       ['Sonal Adhesives', 21.44, 21.44, 21.44, 1.02, 5.0, 747],
       ['Spacenet Enterprises India', 3.45, 3.45, 3.45, 0.15, 4.55, 2090],
       ['Sparc Systems', 19.45, 19.45, 19.45, 0.92, 4.96, 100],
       ['Standard Shoe Sole and Mould India', 19.59, 19.59, 19.59, 0.93,
        4.98, 1200],
       ['Stanpacks India', 10.04, 10.04, 10.04, 0.47, 4.91, 132],
       ['Sterling Greenwoods', 28.85, 28.85, 28.85, 0.0, 0.0, 0],
       ['Sumuka Agro Industries', 60.05, 60.05, 60.05, 2.85, 4.98, 6740],
       ['Swadeshi Industries', 1.72, 1.72, 1.72, 0.0, 0.0, 0],
       ['Swadeshi Polytex', 14.71, 14.71, 14.71, 0.7, 5.0, 683],
       ['Syschem India', 27.0, 27.05, 24.55, 1.2, 4.65, 168030],
       ['Thambbi Modern Spinning Mills', 14.88, 14.88, 14.88, 0.0, 0.0,
        0],
       ['Tirupati Tyres Ltd', 9.53, 9.53, 9.53, 0.45, 4.96, 2450],
       ['Triton', 0.38, 0.38, 0.38, 0.0, 0.0, 0],
       ['Unistar Multimedia', 19.65, 20.66, 18.9, -0.04, -0.2, 39860],
       ['VCK Capital Market Services', 2.62, 2.62, 2.62, 0.0, 0.0, 0],
       ['VCU Data Management', 28.75, 28.75, 27.4, 1.35, 4.93, 37560],
       ['Vax Housing', 2.34, 2.34, 2.23, 0.0, 0.0, 0],
       ['W.S. Industries India Ltd', 13.1, 13.1, 13.1, 0.0, 0.0, 0],
       ['W.S. Industries India Ltd', 13.23, 13.23, 13.23, 0.0, 0.0, 0],
       ['Welterman International', 7.71, 7.71, 7.71, 0.0, 0.0, 0],
       ['Yarn Syndicate', 8.16, 8.16, 8.16, 0.38, 4.88, 650],
       ['iStreet Network', 3.9, 3.9, 3.71, 0.0, 0.0, 0]], dtype=object)

In [ ]:
y= df.iloc[:,3].values

In [ ]:
y

array([15.97, 16.94, 33.15, 52.8 , 16.2 , 45.55, 98.2 ,  0.49,  9.01,
       21.1 ,  1.9 ,  3.65,  5.15,  9.59,  1.85, 20.55,  6.65,  5.6 ,
        4.25, 38.8 , 18.  , 74.  , 39.9 ,  2.36, 25.65,  5.68, 18.1 ,
       18.55,  9.78,  4.44, 21.45,  2.62,  2.4 ,  0.42,  5.28, 44.25,
        9.28,  4.73,  1.15, 25.9 , 78.65,  0.52, 23.5 , 61.95,  3.47,
       28.2 , 65.1 , 57.45,  0.49,  8.27, 27.95,  2.4 ,  3.5 , 21.04,
       70.2 , 69.25, 17.  , 11.2 , 50.2 , 15.12, 33.  ,  0.58, 21.44,
        3.45, 19.45, 19.59, 10.04, 28.85, 60.05,  1.72, 14.71, 24.55,
       14.88,  9.53,  0.38, 18.9 ,  2.62, 27.4 ,  2.23, 13.1 , 13.23,
        7.71,  8.16,  3.71])

In [ ]:
pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)

In [ ]:
x= df.iloc[:,:-1].values

In [ ]:
x

array([['ABC Gas Intl', 15.97, 15.97, 15.97, 0.0, 0.0, 0],
       ['Ace Engitech', 16.94, 16.94, 16.94, 0.8, 4.96, 100],
       ['Ace Integrated', 33.15, 33.15, 33.15, 0.0, 0.0, 0],
       ['Ambar Protein Industries', 52.8, 52.8, 52.8, 2.5, 4.97, 20],
       ['Balgopal Commercial', 16.2, 16.2, 16.2, 0.0, 0.0, 0],
       ['Beekay Niryat', 45.55, 45.55, 45.55, 0.0, 0.0, 0],
       ['Bheema Cements', 98.2, 98.25, 98.2, 0.0, 0.0, 0],
       ['Blue Chip India Ltd', 0.49, 0.49, 0.49, 0.0, 0.0, 0],
       ['Capfin India Ltd', 9.01, 9.01, 9.01, 0.42, 4.89, 1],
       ['Chitradurga Spintex', 21.1, 21.1, 21.1, 0.0, 0.0, 0],
       ['DSJ Keep Learning', 1.9, 1.9, 1.9, 0.09, 4.97, 1500],
       ['Datasoft Application', 3.65, 3.65, 3.65, 0.0, 0.0, 0],
       ['Deccan Polypacks', 5.15, 5.15, 5.15, 0.0, 0.0, 0],
       ['Dhruva Capital Services', 9.59, 9.59, 9.59, 0.0, 0.0, 0],
       ['Diamond Power Infrastructure', 1.85, 1.85, 1.85, 0.0, 0.0, 0],
       ['Dynamic Portfolio Management & Services', 20.55, 20.55, 20.55,
        0.0, 0.0, 0],
       ['Esaar', 6.76, 6.76, 6.65, 0.0, 0.0, 0],
       ['GI Engineering Solutions Ltd', 5.6, 5.6, 5.6, 0.0, 0.0, 0],
       ['GI Engineering Solutions Ltd', 4.25, 4.25, 4.25, 0.0, 0.0, 0],
       ['Galactico', 39.2, 39.25, 38.8, 0.3, 0.77, 170230],
       ['Galada Finance', 18.0, 19.25, 18.0, 0.0, 0.0, 0],
       ['Globe International Carriers', 76.0, 76.35, 74.0, 0.0, 0.0, 0],
       ['Growington Ventures India', 40.0, 40.4, 39.9, 1.3, 3.36, 12500],
       ['Haria Apparels', 2.36, 2.36, 2.36, 0.11, 4.89, 150],
       ['High Street Filatex', 25.65, 25.65, 25.65, 0.0, 0.0, 0],
       ['I Power Solutions India', 5.68, 5.68, 5.68, 0.0, 0.0, 0],
       ['Imagicaaworld Entertainment Ltd', 19.24, 19.24, 18.1, 0.91,
        4.96, 1480000],
       ['Imagicaaworld Entertainment Ltd', 19.05, 19.05, 18.55, 0.9,
        4.96, 682590],
       ['Inceptum Enterprises', 9.78, 10.79, 9.78, 0.0, 0.0, 0],
       ['Indergiri Finance', 4.44, 4.44, 4.44, 0.0, 0.0, 0],
       ['Infronics Systems', 21.45, 21.45, 21.45, 0.0, 0.0, 0],
       ['Integra Garments Textiles', 2.62, 2.62, 2.62, 0.12, 4.8, 8000],
       ['Integra Garments Textiles', 2.4, 2.4, 2.4, 0.1, 4.35, 100],
       ['Interworld Digital', 0.42, 0.42, 0.42, 0.0, 0.0, 0],
       ['Jmd Ventures', 5.28, 5.28, 5.28, 0.1, 1.93, 100],
       ['KLK Electrical', 44.25, 44.25, 44.25, 2.1, 4.98, 100],
       ['Kumbhat Financial Services', 9.28, 9.28, 9.28, 0.0, 0.0, 0],
       ['Kush Industries', 5.21, 5.21, 4.73, 0.24, 4.83, 16900],
       ['Linaks Micro Electronics', 1.15, 1.15, 1.15, 0.0, 0.0, 0],
       ['Lorenzini Apparels', 25.9, 28.4, 25.9, 0.0, 0.0, 0],
       ['MRC Exim', 78.65, 78.65, 78.65, -1.8, -2.24, 2000],
       ['Mahan Ind', 0.52, 0.52, 0.52, 0.0, 0.0, 0],
       ['Manraj Housing Finance', 23.5, 23.5, 23.5, 0.0, 0.0, 0],
       ['Mehai Tech', 64.1, 64.45, 61.95, 5.35, 9.11, 250440],
       ['Mercury Metals', 3.47, 3.47, 3.47, 0.0, 0.0, 0],
       ['Mindpool Tech', 28.2, 28.2, 28.2, 0.0, 0.0, 0],
       ['Munoth Capital Market', 65.1, 65.1, 65.1, 0.0, 0.0, 0],
       ['NINtec Systems', 57.45, 57.45, 57.45, 2.7, 4.93, 3750],
       ['Precision Containeurs', 0.49, 0.49, 0.49, 0.0, 0.0, 0],
       ['R T Exports', 8.27, 8.27, 8.27, 0.0, 0.0, 0],
       ['Ramsons Projects', 28.0, 28.0, 27.95, 0.0, 0.0, 0],
       ['Regency Ceramics Ltd', 2.4, 2.4, 2.4, 0.0, 0.0, 0],
       ['Regency Ceramics Ltd', 3.5, 3.5, 3.5, 0.0, 0.0, 0],
       ['Response Informatics', 21.04, 21.04, 21.04, 1.0, 4.99, 830],
       ['SOM Distilleries Breweries', 75.25, 75.25, 70.2, 3.55, 4.95,
        209650],
       ['SOM Distilleries Breweries', 74.3, 75.15, 69.25, 2.5, 3.48,
        37980],
       ['SPS Intl', 17.0, 17.0, 17.0, 0.0, 0.0, 0],
       ['Sadhna Broadcast', 12.2, 12.2, 11.2, 0.0, 0.0, 0],
       ['Scandent Imaging Ltd', 50.3, 50.3, 50.2, 2.35, 4.9, 576640],
       ['Shraddha Prime Projects', 15.12, 15.12, 15.12, 0.0, 0.0, 0],
       ['Shri Gang Industries Allied', 33.0, 33.0, 33.0, 1.57, 5.0, 50],
       ['Solis Marketing', 0.58, 0.58, 0.58, 0.0, 0.0, 0],
       ['Sonal Adhesives', 21.44, 21.44, 21.44, 1.02, 5.0, 747],
       ['Spacenet Enterprises India', 3.45, 3.45, 3.45, 0.15, 4.55, 2090],
       ['Sparc Systems', 19.45, 19.45, 19.45, 0.92, 4.96, 100],
       ['Standard Shoe Sole and Mould India', 19.59, 19.59, 19.59, 0.93,
        4.98, 1200],
       ['Stanpacks India', 10.04, 10.04, 10.04, 0.47, 4.91, 132],
       ['Sterling Greenwoods', 28.85, 28.85, 28.85, 0.0, 0.0, 0],
       ['Sumuka Agro Industries', 60.05, 60.05, 60.05, 2.85, 4.98, 6740],
       ['Swadeshi Industries', 1.72, 1.72, 1.72, 0.0, 0.0, 0],
       ['Swadeshi Polytex', 14.71, 14.71, 14.71, 0.7, 5.0, 683],
       ['Syschem India', 27.0, 27.05, 24.55, 1.2, 4.65, 168030],
       ['Thambbi Modern Spinning Mills', 14.88, 14.88, 14.88, 0.0, 0.0,
        0],
       ['Tirupati Tyres Ltd', 9.53, 9.53, 9.53, 0.45, 4.96, 2450],
       ['Triton', 0.38, 0.38, 0.38, 0.0, 0.0, 0],
       ['Unistar Multimedia', 19.65, 20.66, 18.9, -0.04, -0.2, 39860],
       ['VCK Capital Market Services', 2.62, 2.62, 2.62, 0.0, 0.0, 0],
       ['VCU Data Management', 28.75, 28.75, 27.4, 1.35, 4.93, 37560],
       ['Vax Housing', 2.34, 2.34, 2.23, 0.0, 0.0, 0],
       ['W.S. Industries India Ltd', 13.1, 13.1, 13.1, 0.0, 0.0, 0],
       ['W.S. Industries India Ltd', 13.23, 13.23, 13.23, 0.0, 0.0, 0],
       ['Welterman International', 7.71, 7.71, 7.71, 0.0, 0.0, 0],
       ['Yarn Syndicate', 8.16, 8.16, 8.16, 0.38, 4.88, 650],
       ['iStreet Network', 3.9, 3.9, 3.71, 0.0, 0.0, 0]], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)

In [ ]:
x_test= st_x.transform(x_test)

In [ ]:
x_train

array([[ 1.28723824e+00, -4.34726776e-01, -4.37789771e-01,
        -4.32075479e-01,  9.88366161e-02,  1.47891870e+00,
        -1.66207045e-01],
       [ 2.64746422e-01, -8.60002665e-01, -8.61876950e-01,
        -8.62955807e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.33169441e+00, -8.65177483e-01, -8.67037302e-01,
        -8.68198820e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.68734374e+00, -6.99583331e-01, -7.01906012e-01,
        -7.09478522e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 7.53764251e-01, -8.55768724e-01, -8.57654843e-01,
        -8.58666069e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-4.64467408e-02, -8.58591352e-01, -8.60469581e-01,
        -8.61525894e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 8.42676583e-01, -7.20753038e-01, -7.23016546e-01,
        -7.21871098e-01, -3.00884910e-01,  1.29723677e+00,
        -1.71008197e-01],
       [ 4.87027253e-01,  2.61229970e+00,  2.64059526e+00,
         2.41440386e+00,  2.83026704e+00,  8.23091242e-01,
         3.07639986e-01],
       [ 1.31377924e-01,  4.43580839e-01,  4.38062843e-01,
         4.57806792e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.24278208e+00, -1.83042484e-01, -1.86808974e-01,
        -1.77074400e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.46904406e+00,  3.73664635e+00,  3.72426935e+00,
         3.79426951e+00, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.60241256e+00,  1.60085815e+00,  1.59210539e+00,
         1.63033512e+00,  2.83026704e+00,  1.48334997e+00,
        -1.98614821e-01],
       [ 1.06495741e+00,  1.94192565e+00,  1.93221955e+00,
         1.97589733e+00,  3.29660882e+00,  1.48778124e+00,
        -1.08993317e-01],
       [ 6.64851918e-01, -1.71751973e-01, -1.75550022e-01,
        -1.65635099e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.42458789e+00, -8.60002665e-01, -8.61876950e-01,
        -8.62955807e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-4.02096070e-01, -8.63295731e-01, -8.65160811e-01,
        -8.66292270e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 3.98114921e-01, -7.18400848e-01, -7.20670931e-01,
        -7.19487910e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 7.09308084e-01,  6.69391046e-01,  6.63241875e-01,
         6.86592807e-01,  1.59113031e+00,  1.49664377e+00,
        -1.98214725e-01],
       [-1.55795639e+00, -1.20944677e-01, -1.24884740e-01,
        -1.14158246e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.06893856e+00,  8.36958228e-02,  7.91837588e-02,
         9.31790803e-02, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-9.80026231e-01, -6.19608883e-01, -6.22155104e-01,
        -6.19394029e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.79815239e-01, -8.28953762e-01, -8.30914833e-01,
        -8.31497730e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.51350022e+00,  1.25979065e+00,  1.25199122e+00,
         1.28477291e+00, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.42060674e+00, -7.59799386e-01, -7.61953754e-01,
        -7.61432013e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.99057461e-03,  2.22475012e-01,  2.17575039e-01,
         2.33787152e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.73578106e+00, -1.31764749e-01, -1.35674568e-01,
        -1.25120909e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-3.57639904e-01, -6.34662897e-01, -6.37167040e-01,
        -6.34646430e-01, -3.67505164e-01,  1.36244914e-01,
        -1.97547898e-01],
       [-5.79920735e-01, -4.22965828e-01, -3.78680275e-01,
        -4.20159541e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.24676323e+00, -7.11344279e-01, -7.13634086e-01,
        -7.12338347e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 7.98220417e-01,  1.25564799e-01,  1.20935705e-01,
         1.35599821e-01,  8.58307515e-01,  1.49664377e+00,
        -1.88919161e-01],
       [-7.57745400e-01, -7.72030772e-01, -7.74150951e-01,
        -7.73824589e-01, -3.54181113e-01,  1.44789984e+00,
        -1.96881071e-01],
       [-1.29121939e+00, -7.93670917e-01, -7.95730609e-01,
        -7.95749915e-01, -3.80829215e-01,  1.48334997e+00,
        -1.78876751e-01],
       [-4.46552236e-01, -7.59799386e-01, -7.61953754e-01,
        -7.61432013e-01, -3.40857062e-01,  1.40801844e+00,
        -9.21892845e-02],
       [ 4.42571087e-01,  1.06747281e-01,  1.02170785e-01,
         1.16534319e-01,  8.31659413e-01,  1.49221250e+00,
        -1.87812229e-01],
       [ 1.55397524e+00, -2.66780435e-01, -2.70312865e-01,
        -2.61915880e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.69132489e+00, -8.61322700e-02, -9.01696389e-02,
        -7.88870684e-02,  5.65178396e-01,  1.47891870e+00,
        -1.97547898e-01],
       [-4.46552236e-01, -7.70149021e-01, -7.72274459e-01,
        -7.71918039e-01, -3.67505164e-01,  1.20861144e+00,
        -1.97547898e-01],
       [ 1.19832591e+00,  3.87128288e-01,  3.84113699e-01,
         2.83834093e-01,  1.09814043e+00,  1.34154944e+00,
         2.04205615e+00],
       [-1.11339473e+00, -7.96023107e-01, -7.98076224e-01,
        -7.98133103e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 5.75939586e-01, -3.09119849e-01, -3.12533934e-01,
        -3.52477011e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-9.35570064e-01,  9.61062563e-01,  9.56443741e-01,
         9.63042575e-01, -1.01024147e-01, -3.77782015e-01,
         2.07139652e+00],
       [-5.35464569e-01, -6.74179683e-01, -6.76573370e-01,
        -6.74683982e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 3.98114921e-01, -7.70149021e-01, -7.72274459e-01,
        -7.71918039e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 3.09202589e-01, -4.94001956e-01, -4.96899267e-01,
        -4.92131808e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-7.13289234e-01,  3.23619167e-01,  3.18436481e-01,
         3.36264221e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-3.13183738e-01,  1.19863372e+00,  1.19100523e+00,
         1.22281003e+00,  2.29730501e+00,  1.48778124e+00,
        -1.97547898e-01],
       [-9.80026231e-01, -6.83118004e-01, -6.85486707e-01,
        -6.83740095e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.59843141e+00, -5.20346480e-01, -5.23170154e-01,
        -5.18823510e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.64288757e+00, -4.99176773e-01, -5.02059620e-01,
        -4.97374821e-01,  5.56826006e-03,  1.44346857e+00,
        -1.90212805e-01],
       [-8.91113898e-01, -3.62658494e-02,  1.81977707e-02,
        -2.83634901e-02, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.50951908e+00, -7.72971648e-01, -7.75089197e-01,
        -7.80020877e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-6.68833067e-01, -6.15845380e-01, -6.18402120e-01,
        -6.15580928e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-2.24271406e-01, -6.37955962e-01, -6.40450901e-01,
        -6.60861494e-01, -1.80968452e-01,  1.42131224e+00,
         2.65058624e-02],
       [ 1.75834090e-01,  2.17949680e+00,  2.16912666e+00,
         2.21659928e+00, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.35359073e-01,  3.35380116e-01,  4.47445302e-01,
         3.48180159e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 9.31588915e-01,  3.85337815e-02,  3.41479522e-02,
         4.74218773e-02,  7.38391057e-01,  1.48778124e+00,
        -1.82877711e-01],
       [ 6.20395752e-01,  1.48324867e+00,  1.47482464e+00,
         1.50640936e+00,  2.63040628e+00,  1.45233110e+00,
         7.49149705e+00],
       [-1.20230706e+00, -6.40778590e-01, -6.43265639e-01,
        -6.40842718e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.15386975e+00, -1.91039928e-01, -1.94784065e-01,
        -1.85177238e-01,  4.31937887e-01,  1.49664377e+00,
        -1.89772699e-01],
       [-2.68727572e-01, -4.46487725e-01, -4.49517846e-01,
        -4.43991417e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-8.46657732e-01,  2.69227415e+00,  2.69689002e+00,
         2.64080668e+00, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [-1.33567556e+00,  1.09569909e-01,  1.04985523e-01,
         1.19394145e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.55397524e+00, -2.60664742e-01, -2.64214266e-01,
        -2.55719592e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 1.02050125e+00,  4.74159305e-01,  4.68555837e-01,
         4.88788231e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01],
       [ 8.87132749e-01,  3.19476505e-02,  2.75802304e-02,
         4.07489519e-02,  7.25067006e-01,  1.47891870e+00,
        -1.97547898e-01],
       [ 2.20290256e-01,  1.81961179e+00,  1.81024757e+00,
         1.85197157e+00,  3.09674806e+00,  1.46562490e+00,
        -1.48869551e-01],
       [ 8.69217578e-02, -7.19812162e-01, -7.22078300e-01,
        -7.20917823e-01, -5.00745672e-01, -7.18989545e-01,
        -1.98881551e-01]])

In [ ]:
x_test= st_x.transform(x_test)

In [ ]:
x_test

array([[-1.75760941, -0.87712495, -0.8791686 , -0.87982513, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.73982225, -0.75053457, -0.75328491, -0.74987626, -4.36348772,
        -1.47744216, -0.19888385],
       [-1.7338932 , -0.78273545, -0.78453576, -0.78781588,  8.32993097,
         0.75125791, -0.19883966],
       [-1.72005874, -0.86262902, -0.86475359, -0.86505821, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.77144386, -0.8360716 , -0.83746412, -0.83790981,  1.13995255,
        -0.37781922, -0.19888198],
       [-1.71412969, -0.75805918, -0.76076751, -0.76907326,  5.13438501,
        -0.06560485, -0.19884691],
       [-1.80899453, -0.85123146, -0.85341966, -0.85324468, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.71215334, -0.88697333, -0.888962  , -0.88993479, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.76353846, -0.88201594, -0.88403228, -0.88743577,  0.44758426,
        -0.06364124, -0.19862097],
       [-1.79713642, -0.90465614, -0.9065461 , -0.90808674, -0.42231436,
        -0.07738652, -0.1988842 ],
       [-1.68646078, -0.92078978, -0.92258967, -0.9246484 , -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.78725467, -0.90337253, -0.90526965, -0.90676908, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.69238983, -0.90237663, -0.90427931, -0.90574675, -0.3335492 ,
        -0.0734593 , -0.19888418],
       [-1.67064998, -0.86096918, -0.86310302, -0.86630772,  1.22871772,
        -0.06953207, -0.19887752],
       [-1.78132562, -0.90963566, -0.91149782, -0.91344827, -1.16794175,
        -1.03759298, -0.1988842 ],
       [-1.76353846, -0.88243643, -0.88445043, -0.88641345,  0.42983123,
        -0.06364124, -0.1987628 ],
       [-1.67460268, -0.88110856, -0.8809072 , -0.88561831, -1.23895389,
        -1.07686523, -0.19887711]])